<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    
    <title>Projeto 1</title>

    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <header class="centralizar">
        <div class="container">
            <div class="logo">
                <a href=""><img src="static\img\logo.png" alt="" width="40px"></a>
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li class="active"><a href="">HOME</a></li>
                        <li><a href="">HOME</a></li>
                        <li><a href="">HOME</a></li>
                        <li><a href="">HOME</a></li>
                        <li><a href="">HOME</a></li>
                        <li><a href="">HOME</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section id="banner" class="centralizar">
        <div class="container column">
            <div class="banner_text">
                <h1>Top notch experience</h1>
                <h2>Medicenter is a responsive template perfect for all screen sizes</h2>
            </div>

            <div class="banner_options">
                <div class="banner1">
                    <div class="banner_title">
                        Emergency Case
                    </div>
                    <div class="banner_description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tristique ipsum.
                    </div>
                    <div class="banner_button">
                        <a href="">Read More</a>
                    </div>
                </div>

                <div class="banner2">
                    <div class="banner_title">
                        Doctors Timetable
                    </div>
                    <div class="banner_description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tristique ipsum.
                    </div>
                    <div class="banner_button">
                        <a href="">Read More</a>
                    </div>
                </div>

                <div class="banner3">
                    <div class="banner_title">
                        Opening Hours
                    </div>
                    <div class="banner_description">
                        <p>Segunda</p>
                        <p>08:00 - 17:00</p>
                    </div>
                    <div class="banner_description">
                        <p>Terça</p>
                        <p>08:00 - 17:00</p>
                    </div>
                    <div class="banner_description">
                        <p>Quarta</p>
                        <p>08:00 - 17:00</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id = "centro"class="centralizar">
        <div class="container">

            <section class="noticias">
                <div class="widget">

                    <div class="widget_title">
                        <div class="widget_title_text">
                            Latest News
                        </div>
                        <div class="widget_title_bar"></div>
                    </div>

                    <div class="widget_body">

                        <article>
                            <a href="">
                                <div class="news_data">
                                    <div class="news_posted">01 JAN 20</div>
                                    <div class="news_comments">02</div>
                                </div>
                                <div class="news_img">
                                    <img src="static\img\solar.jpg" alt="">
                                </div>
                                <div class="news_title">
                                    Vapo vapo vapo vapo
                                </div>
                                <div class="news_resume">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac purus lacinia, facilisis tellus eget, malesuada dui. Cras urna magna, consequat non nulla non, molestie cursus mi. Donec vitae gravida lectus.
                                </div>
                            </a>
                        </article>

                        <article>
                            <a href="">
                                <div class="news_data">
                                    <div class="news_posted">01 JAN 20</div>
                                    <div class="news_comments">02</div>
                                </div>
                                <div class="news_img">
                                    <img src="static\img\solar.jpg" alt="">
                                </div>
                                <div class="news_title">
                                    Vapo vapo vapo vapo
                                </div>
                                <div class="news_resume">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac purus lacinia, facilisis tellus eget, malesuada dui. Cras urna magna, consequat non nulla non, molestie cursus mi. Donec vitae gravida lectus.
                                </div>
                            </a>
                        </article>

                        <article>
                            <a href="">
                                <div class="news_data">
                                    <div class="news_posted">01 JAN 20</div>
                                    <div class="news_comments">02</div>
                                </div>
                                <div class="news_img">
                                    <img src="static\img\solar.jpg" alt="">
                                </div>
                                <div class="news_title">
                                    Vapo vapo vapo vapo
                                </div>
                                <div class="news_resume">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac purus lacinia, facilisis tellus eget, malesuada dui. Cras urna magna, consequat non nulla non, molestie cursus mi. Donec vitae gravida lectus.
                                </div>
                            </a>
                        </article>

                        <article>
                            <a href="">
                                <div class="news_data">
                                    <div class="news_posted">01 JAN 20</div>
                                    <div class="news_comments">02</div>
                                </div>
                                <div class="news_img">
                                    <img src="static\img\solar.jpg" alt="">
                                </div>
                                <div class="news_title">
                                    Vapo vapo vapo vapo
                                </div>
                                <div class="news_resume">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac purus lacinia, facilisis tellus eget, malesuada dui. Cras urna magna, consequat non nulla non, molestie cursus mi. Donec vitae gravida lectus.
                                </div>
                            </a>
                        </article>

                    </div>
                </div>
            </section>

            <aside>
                <div class="widget">

                    <div class="widget_title">
                        <div class="widget_title_text">
                            Departamentos
                        </div>
                        <div class="widget_title_bar"></div>
                    </div>

                    <div class="widget_body">
                        <article>
                            <div class="departament_img">
                                <img src="static\img\fantasy.jpg" alt="">
                            </div>
                        </article>

                        <article>
                            <div class="departament_img">
                                <img src="static\img\fantasy.jpg" alt="">
                            </div>
                        </article>

                        <article>
                            <div class="departament_img">
                                <img src="static\img\fantasy.jpg" alt="">
                            </div>
                        </article>

                        <article>
                            <div class="departament_img">
                                <img src="static\img\fantasy.jpg" alt="">
                            </div>
                        </article>

                        <article>
                            <div class="departament_img">
                                <img src="static\img\fantasy.jpg" alt="">
                            </div>
                        </article>

                        <article>
                            <div class="departament_img">
                                <img src="static\img\fantasy.jpg" alt="">
                            </div>
                        </article>
                    </div>
                </div>

                <div class="widget">

                    <div class="widget_title">
                        <div class="widget_title_text">
                            Make a Appointment
                        </div>
                        <div class="widget_title_bar"></div>
                    </div>

                    <div class="widget_body column">
                        <div class="contats_description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tristique ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tristique ipsum.
                        </div>

                        <div class="contats">
                            <div class="contats_img">
                                <img src="static\img\whatsapp.png" alt="">
                            </div>
                            <div class="contats_info">
                                Whatsapp (86) 9 9999-9999
                            </div>
                        </div>

                        <div class="contats">
                            <div class="contats_img">
                                <img src="static\img\whatsapp.png" alt="">
                            </div>
                            <div class="contats_info">
                                Whatsapp (86) 9 9999-9999
                            </div>
                        </div>

                        <div class="contats">
                            <div class="contats_img">
                                <img src="static\img\bate-papo.png" alt="">
                            </div>
                            <div class="contats_info">
                                Whatsapp (86) 9 9999-9999
                            </div>
                        </div>

                    </div>
                </div>
            </aside>
        </div>
    </section>

    <footer class="centralizar">
        <div class="container column">
            <div class="footer_banner centralizar">
                <div class="banner1">
                    <div class="banner_title">
                        Vapo vapo
                    </div>
                    <div class="banner_description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tristique ipsum.
                    </div>
                </div>
                <div class="banner2">
                    <div class="banner_title">
                        Vapo vapo
                    </div>
                    <div class="banner_description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tristique ipsum.
                    </div>
                </div>
                <div class="banner3">
                    <div class="banner_title">
                        Vapo vapo
                    </div>
                    <div class="banner_description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tristique ipsum.
                    </div>
                </div>
            </div>
            <div class="infos">
                <div class="widget">
                    <div class="widget_title">
                        <div class="widget_title_text">
                            Vapinho
                        </div>
                        <div class="widget_title_bar"></div>
                    </div>

                    <div class="widget_body">

                    </div>
                </div>

                <div class="widget">
                    <div class="widget_title">
                        <div class="widget_title_text">
                            Vapinho
                        </div>
                        <div class="widget_title_bar"></div>
                    </div>

                    <div class="widget_body">

                    </div>
                </div>

                <div class="widget">
                    <div class="widget_title">
                        <div class="widget_title_text">
                            Vapinho
                        </div>
                        <div class="widget_title_bar"></div>
                    </div>

                    <div class="widget_body">

                    </div>
                </div>
            </div>

        </div>
    </footer>
</body>
</html>